//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  header = {
    logo: {
      src: 'metro.png',
      to: 'index.html',
      alt: 'Klinik Metro'
    },
    menu: [
      {
        to: 'layanan.html',
        text: 'Layanan',
        classActive: 'layanan'
      },
      {
        to: 'mitra.html',
        text: 'Mitra',
        classActive: 'mitra'
      },
      {
        to: 'artikel.html',
        text: 'Artikel',
        classActive: 'artikel'
      },
      {
        to: 'tentang-kami.html',
        text: 'Tentang Kami',
        classActive: 'tentang-kami'
      }
    ],
    button: {
      to: 'daftar.html',
      text: 'Daftar Online'
    }
  }

//header
.header
  .container
    .header__content
      ='\n'
      a.header__logo(href=header.logo.to)
        ='\n'
        img.header__logo__img(src='assets/img/logo/'+header.logo.src, alt=header.logo.alt)/
        ='\n'
      .header__menu
        ul.header__menu__list
          each val in header.menu
            li.header__menu__item(class=(navActive == val.classActive ? 'header__menu__item--active' : '') class=(val.dropdown !== undefined ? 'header__dropdown' : ''))
              ='\n'
              a.header__menu__link(href=val.to) !{val.text}
              ='\n'
        .header__menu__btn
          ='\n'
          a.btn.btn--outline(href=header.button.to) !{header.button.text}
          ='\n'
      ='\n'
      button.burger-menu.js-mobile-menu(type='button')
        each val in [1, 2, 3]
          ='\n'
          span.burger-menu__bar
        ='\n'
='\n'
//end-header
